.root {
    -fx-background-color: #16161d;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: indianred;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:selected .text {
    -fx-text-fill: indianred;
}

.table-row-cell:selected .menu-item .label {
    -fx-text-fill: indianred;
}

.label-light {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.label-medium {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #686868;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.option-button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.option-button:hover {
    -fx-text-fill: #8d9db1;
    -fx-cursor: hand;
    -fx-background-color: #16161d;
}

.text-field {
    -fx-background-color: #e1e1e1;
}

.text-field .label {
    -fx-text-fill: #729aec #e;
}

.menu-item:focused {
    -fx-background-color: whitesmoke;
    -fx-cursor: hand;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-text-fill: indianred;
    -fx-background-color: white;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}

.table-view {
    -fx-base: #16161d;
    -fx-control-inner-background: #2f2f3e;
    -fx-background-color: #2f2f3e;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: black;
}

.text-input {
    -fx-text-fill: black;
}

.text-input:focused {
    -fx-text-fill: black;
}

.button {
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color: #e96969;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #a54c4c;
}

.text-area:focused .content {
    -fx-border-radius: 0;
    -fx-background-color: #000000;
}

#console {
    -fx-background-color: black;
    -fx-text-fill: #a54c4c !important;
}

#console .content {
    -fx-background-color: black !important;
    -fx-text-fill: white;
}

#console:focused .content {
    -fx-background-color: black !important;
    -fx-text-fill: white;
}

.text-area {
    -fx-text-fill: white !important;
    -fx-background-color: black;
    -fx-border-radius: 0;
}

.text-area .content {
    -fx-background-color: #000000;
    -fx-border-radius: 0;
    -fx-text-fill: white;
}

.check-box *.box {
    -fx-background-color: #d8d8d8;
    -fx-text-fill: #8d9db1;
    -fx-background-radius: 100%;
}

.check-box {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #8d9db1;
    -fx-opacity: 1;
}

.check-box:selected .mark {
    -fx-background-color: indianred;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,5a5, 5 0 1,0 10,0a5,5 0 1,0 -10,0";
}

.check-box:selected *.box {
    -fx-background-color: white;
}

#drag-bar {
    -fx-background-color: #000000;
}

#settingsView {
    -fx-background-color: white;
}

.notification {
    -fx-background-color: #2f2f3e;
    -fx-opacity: 0.9;

}

#iconFlow {
    -fx-background-color: white;
    -fx-border-width: 3px;
    -fx-border-color: whitesmoke;
}

#icon {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 15px;
}

#icon:hover {
    -fx-background-color: #e1e1e1;
    -fx-cursor: hand;
}

#file-icon {
    -fx-background-radius: 15px;
    -fx-background-color: whitesmoke;
}

#file-icon:hover {
    -fx-background-color: #e1e1e1;
    -fx-cursor: hand;
}

#homeButton {
    -fx-background-color: #16161d;
}

#homeButton:hover {
    -fx-background-color: black;
    -fx-cursor: hand;
}

#settingsView {
    -fx-background-color: white;
}

#updatesView {
    -fx-background-color: white;
}

#clientBuilder {
    -fx-background-color: white;
}

#stat-bar {
    -fx-background-color: indianred;
}

.scroll-bar {
    -fx-background-color: #16161d;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: indianred;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: indianred;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #a54c4c;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #a54c4c;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: rgb(211, 211, 211);
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: rgb(211, 211, 211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: rgb(211, 211, 211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: rgb(211, 211, 211);
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

#scroll-pane {
    -fx-background-color: #2f2f3e;
}

#file-pane {
    -fx-background-color: white;
}

.toggle-button:selected {
    -fx-background-color: #e96969;
}

.toggle-button {
    -fx-background-color: #a54c4c;
}

.toggle-button:hover {
    -fx-cursor: hand;
}

.chart-title {
    -fx-text-fill: white;
}

.chart Text {
    -fx-fill: white !important;
}