.root {
    -fx-background-color: #302C58;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4EFFBB;
    -fx-text-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:selected .text {
    -fx-text-fill: #4EFFBB;
}

.table-row-cell:selected .menu-item .label {
    -fx-text-fil: #4EFFBB;
}

.label-medium {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #ffdd09;
    -fx-opacity: 0.8;
}

.label-bright {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4EFFBB;
    -fx-opacity: 1;
}

.text-field {
    -fx-background-color: #232b3e;
}

.text-field .label {
    -fx-text-fill: #4EFFBB #e;
}

.menu .label {
    -fx-text-fill: #4EFFBB;
}

.menu-bar {
    -fx-background-color: #232b3e;
}

.menu-item .label {
    -fx-text-fill: #4EFFBB;
}

.menu-item:focused {
    -fx-background-color: #302C58;
}

.menu-item:focused .label {
    -fx-text-fill: #4EFFBB;
}

.menu-item:disabled, .label:disabled {
    -fx-background-color: #302C58;
    -fx-opacity: 1;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-text-fill: #4EFFBB;
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}

.table-view {
    -fx-base: #3c376f;
    -fx-control-inner-background: #232b3e;
    -fx-background-color: #3c376f;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: #4EFFBB;
}

.text-input {
    -fx-text-fill: #4EFFBB;
}

.text-input:focused {
    -fx-text-fill: #4EFFBB;
}

.button {
    -fx-text-fill: #4EFFBB;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-background-color: #232b3e;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #141924;
}

.text-area:focused .content {
    -fx-background-color: black;
}

.text-area:focused {
    -fx-highlight-fill: #302C58;
}

.text-area {
    -fx-background-color: black;
    -fx-border-width: 4px;
}

.text-area .content {
    -fx-background-color: black;
    -fx-text-fill: #4EFFBB;
}
.check-box *.box {
    -fx-background-color: #171c28;
    -fx-text-fill: #4EFFBB;

}

.check-box {
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4EFFBB;
    -fx-opacity: 1;
}
.check-box:selected .mark {
    -fx-background-color: #4EFFBB;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em; /* 4 -- this is half the size of the mark */
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}


#settingsView {
    -fx-background-color: #171c28;
}

#notification {
    -fx-opacity: 0.9;
}

#iconFlow {
    -fx-background-color: #3c376f;
}

#icon {
    -fx-background-color: #383367;
    -fx-background-radius: 15px;
}

#icon:hover {
    -fx-background-color: #332f5e;
    -fx-cursor: hand;
}

#homeButton {
    -fx-background-color: #383367;

}

#homeButton:hover {
    -fx-background-color: #332f5e;
    -fx-cursor: hand;
}

#settingsView {
    -fx-background-color: #3c376f;
}

#updatesView {
    -fx-background-color: #3c376f;
}

#clientBuilder {
    -fx-background-color: #3c376f;
}