.root {
    -fx-background-color: #795548;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.label-bright {
    -fx-font-size: 12px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-background-color: #4E342E;
}

.text-field .label {
    -fx-text-fill: white;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #4E342E;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.menu-item:disabled, .label:disabled {
    -fx-background-color: black;
    -fx-opacity: 1;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.table-view {
    -fx-base: #5D4037;
    -fx-control-inner-background: #4E342E;
    -fx-background-color: #5D4037;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-text-fill: aquamarine;
}
